*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Epilogue', sans-serif;   
    background-color: hsl(0, 0%, 98%);
}

/************* HEADER (mobile version) ***************/
header.main_header_container{
    padding: 26px 20px;
    overflow: hidden; /*Avoid bottom padding from being removed*/
}
.brand_logo{
    float: left;
}
.menu_icon{
    float:right;
    cursor: pointer;
}


/********* HERO IMAGE ***********/
.hero_img_mobile{
    width: 100%;
}
.hero_img_desktop {
    display: none;
}

/********** HERO CONTENT ***********/
.hero_content_container{
    font-family: 'Epilogue', sans-serif;
}
.hero_title{
    font-weight: 700;
    font-size: 36px;
    text-align: center;

    margin-top: 45px;
    margin-bottom: 20px;
}

.hero_content_container p{ 
    font-weight: 500;
    line-height: 27px;
    margin: 0px 18px;
    text-align: center;
    color: hsl(0, 0%, 41%);
}

/********** BUTTON ***********/
button {
    background-color: hsl(0, 0%, 8%);
    color:hsl(0, 0%, 98%);
    border: none;
    padding: 15px 27px;
    text-align: center;
    border-radius: 15px;
    font-family: 'Epilogue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

    /**center button horizontally*/
    margin: 0 auto;
    display: block;

    /*create space between button and paragraph*/
    margin-top: 25px;
    margin-bottom: 50px;
}
button:hover{
    color: hsl(0, 0%, 8%);
    border: 1.5px solid hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 98%);
}



/********* Partnership Section **********/
.partnership_icons_container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
    
}
.partnership_icons_container img{
    font-size: 20px;
    align-self: center;

    /*make svg file responsive*/
    width: 15%;
    height: 15%;
}

/*********** Overlay **************/
.background_color_overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(20, 20, 20, 0.7);
    display: none;
}
.background_color_overlay.active{
    display: inline-block;
    overflow: hidden;
    z-index: 1;
    position: fixed;
    
}


/******** SLIDE-OUT MENU *************/
nav {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 66%;
    height: 100%;
    background-color: white;
    display: none;  /*** hide nav ****/
}
nav.active{  /*Nav will be shown using javaScript*/
    display: inline;
    overflow: scroll;
    position: fixed;
}
nav ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 85px;
}
nav ul li{  /*Main nav list*/
    padding: 23px 30px 0px 30px;
    font-size: 16px;
}
nav ul li a{
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    font-weight: 500;
}
nav ul li a:hover{
    color: hsl(0, 0%, 8%);
}

.close_menu_icon{
    float: right;
    margin-top: 25px;
    margin-right: 20px;
    cursor: pointer;
}


/************* ARROW ICONS ***********/
.down_arrow_icon{
    padding-left: 10px;
}
.down_arrow_icon:hover, .up_arrow_icon:hover{
    filter:brightness(0.3) /*Used this property to make the icon darker*/
}


/* The arrow is temporarly hidden and then displayed again when the active 
class gets added using javaScript */
.down_arrow_icon{  
    margin-left: 5px;
    padding-left: 0px;
    display: none;
}
.up_arrow_icon{
    margin-left: 5px;
    display: none;
}
.down_arrow_icon.active{
    display: inline-block
}
.up_arrow_icon.active{
    display: inline-block
}



/************ LOGIN AND REGISTER BUTTON ************/
.login_or_register_container{
    margin-top: 42px; 
}
.login_link{
    display: block;
    text-align: center;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    font-weight: 500;
    font-size: 15px;
}
.login_link:hover{
    color: hsl(0, 0%, 8%);
}

.register_btn{
    background-color: white;
    color:  hsl(0, 0%, 41%);
    border: 1.5px solid  hsl(0, 0%, 41%);;
    padding: 14px 30%; /*make padding responsive to screen width*/
    font-size: 15px;
}
.register_btn:hover{
    color: hsl(0, 0%, 8%);
    border: 1.5px solid hsl(0, 0%, 8%);
}


/******** DROP-DOWN MENU **********/
.dropdown_content, 
.dropdown_content_2 { /*These classes represent the dropdown content*/
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    display: none;
}

.dropdown_content.active, 
.dropdown_content_2.active {
    display: flex; /*Dropdown content is displayed using javaScript*/
}

.dropdown1{ /*Remove padding from dropdown content*/
    padding-top: 0px;
}
.dropdown_content li, 
.dropdown_content_2 li{ /*Align items vertically*/
    display: flex;
    padding: 10px 30px;
}
.dropdown_item{
    padding-top: 5px;
    padding-left: 15px;
    align-items: center;
    font-size: 16px;
}
.dropdown_img{
    width: 19px;
}






/*********************** DESKTOP VERSION **********************/

@media screen and (min-width: 1100px){

    header.main_header_container{
        display: flex;
        justify-content: space-between;
        padding: 26px 35px 60px 35px;

        /*Allowed me to make the dropdown menu item visible */
        position: relative;
        z-index: 1;
        overflow: visible;
    }

    .menu_icon{
        display: none;
    }
    .brand_logo{
        margin-top: 4px;
    }
    .close_menu_icon{ /*Removed exit icon from desktop version of website*/
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        position: relative;
        right: auto;
        top: auto;
        z-index: 0;
        width: 90%;
        height: 27px;
        background-color:  hsl(0, 0%, 98%);
    }
    nav ul {
        list-style-type: none;
        margin: 0px;
        display: flex;
        overflow: visible;
    }
    nav ul li.main_menu{  /*Main nav list*/
        padding: 0px 15px;
        font-size: 15px;
        align-self: center; 
    }
    nav ul li.main_menu:first-child{
        padding-left:17px;
    }
    .dropdown1{ /*first dropdown menu should not have padding*/
        padding-top: 0px;
    }

    /***** RIGHT SIDE MENU ITEMS *********/
    .login_or_register_container{
        display: flex;
        margin: 0;
        padding: 10px 0px; 
        width: fit-content;
     }
     .login_link{
        align-self: center;
        margin-right: 45px;
     }
     .register_btn{
        margin: 0px;
        padding: 10px 20px;
        align-self: center;
     }



     /***** DROPDOWN MENU ITEMS **********/
    .dropdown_content, .dropdown_content_2 {
       position: absolute;
       z-index: 2;
       background-color: hsl(0, 0%, 98%);
       border-radius: 13px;
       padding: 10px 16px;
       box-shadow: 1px 3px 17px 2px rgba(0,0,0,0.2);
    }
    .dropdown_content li, 
    .dropdown_content_2 li{
       left: -44px;
       padding: 10px 10px;
    }
    .dropdown_content{
        left: -68px;
        display: none; /*hidden the dropdown menus*/
    }
    .dropdown_content_2{
        left: 132px;
        display: none;/*hidden the dropdown menus*/
    }
    .dropdown_content.active{
        display: flex;
    }
    .dropdown_content_2.active{
        display: flex;
    }
   

    /************ HERO CONTAINER ************/
    .hero_container{
        display: flex;
        justify-content: space-between;
        height: 685px;
        width: 88%;
        margin: 0 auto;
    }
    .hero_img_container{
        order: 1;
        flex-grow: 1;
        width: 35%;
        margin-left: 20px;
    }
    .hero_content_container{
        position: relative;
        order: 0;
        flex-grow: 1;
        width: 50%;
        margin-right: 20px;
        margin-left: 0px;
    }

    /******* HERO IMAGE ********/
    .hero_img_mobile{
        display: none;
    }
    .hero_img_desktop {
        display: inline;
        object-fit: contain;
        object-position: center;
        height: 100%;
        width: 100%;
    }

    /******* HERO CONTENT CONTAINER **********/
    .hero_title{
        text-align: left;
        font-size: 5.5vw;
        margin-top: 118px;
        margin-bottom: 0px;
    }

    /****** created line-break ****/
    #line_break::after{
        content: "\a";
        white-space: pre;
    }
   
    .hero_content_container p{
        text-align: left;
        margin: 73px 0px 0px;
        width: 430px;
        font-size: 1.2rem;
        font-weight: normal;
    }

    button {
        margin: 45px 0px 0px;
        color: hsl(0, 0%, 98%);
        background-color: hsl(0, 0%, 8%);
        border: 1px solid hsl(0, 0%, 8%);
    }
    button:hover{
        border: 1.5px solid hsl(0, 0%, 8%);
        font-weight: 700;
    }

    .partnership_icons_container{
        margin-bottom: 0px;
        position: absolute;
        width: 90%;
        bottom: -11px;
        padding: 0;
        justify-content: space-between;
    }

   

}

/***********ALIGN BOTTOM CLIENT ICONS TO HERO IMAGE**************/
@media screen and (max-width: 1431px){
    .partnership_icons_container{
        bottom: -8px;
    }
}
@media screen and (max-width: 1349px){
    .partnership_icons_container{
        bottom: 10px;
    }
}
@media screen and (max-width: 1296px){
    .partnership_icons_container{
        bottom: 30px;
    }
}
@media screen and (max-width: 1278px){
    .partnership_icons_container{
        bottom: 50px;
    }
}
@media screen and (max-width: 1110px){
    .partnership_icons_container{
        bottom: 74px;

    }
}


/************ CHANGE HERO CONTAINER PROPERTIES ****************/
@media screen and (min-width: 1296px){
    .hero_container{
        width: 88%;
    }
}
@media screen and (min-width: 1440px){
    .hero_container{
        width: 83%;
    }
    .hero_content_container{
        margin-left: 38px;
    }
}






