*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
}
header.main_header_container{
    border: 1px solid red;
    padding: 30px 20px;
    overflow: hidden;

}
.brand_logo{
    float: left;
}
.menu_icon{
    float:right
}


/********* HERO IMAGE ***********/
.hero_img_container{
    border: 1px solid orange;
    width: auto;
}
.hero_img{
    width: 100%;
}


/********** HERO CONTENT ***********/
.hero_content_container{
    border: 1px solid red;
    font-family: 'Epilogue', sans-serif;
}
.hero_title{
    font-weight: 700;
    font-size: 36px;
    text-align: center;

    margin-top: 40px;
    margin-bottom: 20px;
}

.hero_content_container p{
    border: 1px solid blue; 
    font-weight: 500;
    line-height: 27px;
    margin: 0px 18px;
    text-align: center;
    color: hsl(0, 0%, 41%);
}

/********** BUTTON ***********/
button {
    background-color: hsl(0, 0%, 8%);
    color:hsl(0, 0%, 98%);
    border: none;
    padding: 15px 27px;
    text-align: center;
    border-radius: 15px;
    font-family: 'Epilogue', sans-serif;
    font-size: 16px;
    font-weight: 500;

    /**center button horizontally*/
    margin: 0 auto;
    display: block;

    /*create space between button and paragraph*/
    margin-top: 20px;
    margin-bottom: 40px;
}



/********* Partnership Section **********/
.partnership_icons_container{
    border: 1px solid green;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    margin-bottom: 100px;
}
.partnership_icons_container img{
    font-size: 20px;
    align-self: center;
    
    /*make svg file responsive*/
    width: 15%;
    height: 15%;
}
